.container {
    border-bottom: 1px solid #ac3636;
    width: 500px;
    padding: 15px 70px;
    direction: rtl;
    display: flex;
    justify-content: space-around;
    color: #212529;
    font-size: 12px;
    border-bottom: 1px solid silver;
}
.container:last-child {
    border: none;
}
.container span {
    margin: 0 5px;
    padding: 5px;
}
.name {
width: 180px;
font-weight: bold;
font-size: 1.02rem !important;
}
.ename , .price ,.changesin24h , .topPrice {
width: 150px;
text-align: center;
font-weight: 700;
padding: 0 10px;
}
.changesin24h {
    direction: ltr;
    color: rgb(29, 182, 29);
}
.changesin24hlow {
    direction: ltr;
    color: red;
}